{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Панель</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'base/index.css' %}">
    <link rel="stylesheet" href="{% static 'base/meetings.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <div class="div-model2-container">
        <div class="div-model2-warper">
            <div class="div-model2-text">
                <span class="model2-text">Опишите причину своего отказа от нетворкинга<br>(не обязательно)</span>
            </div>
            <div class="div-model2-input">
                <textarea name="model2" id="model2-textarea" class="model2-input" placeholder="Причина"></textarea>
            </div>
            <div class="div-model2-but">
                <button class="model2-but">Отрпавить</button>
            </div>
        </div>
    </div>
    <div id="userid" data-userid="{{ userid }}"></div>
    <nav class="navbar">
        <div class="user-info">
            {% if user %}
                <span>{{ user.login }}</span> <!-- Или любая другая информация о пользователе -->
                <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i></a>
            {% else %}
                <a href="{% url 'login' %}">Вход</a>
            {% endif %}
        </div> <!-- Закрываем div для класса user-info -->
    </nav>
    <div class="sidebar">
        <button id="createPairsBtn">Создать пары</button>
        <div class="logo">
            <img src="{% static 'media/logo.png' %}" alt="Logo">
        </div>
        <div class="menu">
            <ul>
                <li id="statistick"><i class="fas fa-chart-line"></i><a href="#">Statistics</a></li>
                <li id="meets"><i class="fas fa-coffee"></i><a href="#" id="meets-btn">Meets</a></li> <!-- Добавляем id для кнопки Meets -->
                <li id="profile"><i class="fa fa-address-card"></i><a href="#" id="profile-btn">Profile</a></li>
            </ul>
        </div>
    </div>

    
    <div class="content">
        <form id="profile-form" data-user-id="{{ userId }}" style="display: none;">
            {% csrf_token %}
            <div class="form-group">
                <label for="first_name">First Name:</label>
                <input type="text" id="first_name" name="first_name" class="form-control">
            </div>
            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" name="last_name" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Update User</button>
        </form>
    </div>
    

    <script src="{% static 'base/index.js' %}"></script>
    <script>
        but = document.querySelector('.model2-but')
        but.addEventListener('click', (e) => {
            e.preventDefault()
            const int = document.querySelector('.model2-input')
            const val = int.value
            if (val != '') {
                $.ajax({
                    url: '/change_meeting_comm_field', // URL к вашему Django view
                    method: 'POST',
                    data: { // ID записи модели, которую вы хотите изменить
                        new_comm: val // Новое значение поля модели
                    },
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}' // CSRF токен для защиты от CSRF атак
                    },
                    success: function (response) {
                        console.log(response);
                        // Дополнительные действия при успешном изменении поля модели
                    },
                    error: function (response) {
                        console.error(response);
                        // Дополнительные действия при ошибке изменения поля модели
                    }
                });
                }
                document.querySelector('.div-model2-container').style.display = 'none'
        })
    </script>
</body>
</html>
